.header {
  @apply relative z-10;
  @apply pb-24;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  @screen sm {
    height: 650px;
  }

  @screen md {
    height: 750px;
  }

  @screen xl {
    height: 850px;
  }

  &:before {
    @apply absolute;
    z-index: -1;
    content: "";
    left: 30%;
    bottom: 65px;
    height: 100%;
    min-height: 300vw;
    width: 300vw;
    border-radius: 150vw;
    transform: translateX(-50%);
    background: linear-gradient(
      210deg,
      rgb(51 65 85) 75%,
      rgb(15 23 42) 83%,
      rgb(15 23 42)
    );
  }
}
