.header {
  @apply relative z-10;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  @apply text-2xl;

  @screen sm {
    height: 550px;
  }

  @screen xl {
    height: 980px;
  }

  &:before {
    @apply absolute;
    z-index: -1;
    content: '';
    left: 30%;
    bottom: 30px;
    height: 100%;
    min-height: 300vw;
    width: 300vw;
    border-radius: 150vw;
    transform: translateX(-40%);
    background: linear-gradient(
      210deg,
      rgb(51 65 85) 75%,
      rgb(15 23 42) 83%,
      rgb(15 23 42)
    );
  }
}
