@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #e3e6e6;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply overflow-x-hidden sm:overflow-y-scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
